@import '../../../common.scss';

.movieDetailsImage{
    margin-left: 60px;
    margin-right: 60px;
    width: 322px;
    height: 455px;
}

.movieDetails{
    display: inline-block;
    vertical-align: top;
}

.movieTitle{
    @include white-text-large;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.movieRating{
    @include white-text;
    display: inline-block;
    border-color: white;
    border-radius: 100%;
    margin-left: 20px;
    border: solid;
    padding: 5px;
    vertical-align: top;
    margin-top: 5px;
    width: 25px;
    text-align: center;
}

.movieGenre{
    @include white-text-small;
    opacity: 0.6;
    margin-bottom: 0px;
}

.movieYear{
    @include red-text;
    display: inline-block;
}

.movieRuntime{
    @include red-text;
    display: inline-block;
    margin-left: 40px;
}

.movieDescription{
    @include white-text;
    width: 600px;
    display: block;
    opacity: 0.6;
}