.searchToggle{
    width: 30px;
    height: 35px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}