.movie-card-container{
    display: inline-block;
    margin: 30px;
    position: relative;

    .movie-image{
        display: block;
    }
    
    p{
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
    .movie-title{
        font-size: 18px;
        line-height: 22px;
        color: white;
        opacity: 0.7;
        display: inline-block;
    }
    
    .movie-year{
        font-size: 14px;
        line-height: 17px;
        color: white;
        opacity: 0.7;
        float: right;
        border: 1px solid #979797;
        border-radius: 4px;
        padding: 0px 5px 0px 5px;
    }
    
    .movie-genre{
        font-size: 14px;
        line-height: 17px;
        color: white;
        opacity: 0.5;
    }

    .movie-menu-button{
        display: none;
        width: 36px;
        height: 36px;
        right: 10px;
        top: 10px;
        background: #2A202D;
        border-radius: 50%;
        position: absolute;

        .movie-menu-button-dot{
            display: none;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: white;
            margin: 6px auto 0 auto;
        }
    }

    &:hover 
    {
        .movie-menu-button{
            display: block;
        }

        .movie-menu-button-dot{
            display: block;
        }
    }
}

