@import '../../../common.scss';

.sort-panel{
    float: right;
    margin: 10px;
    opacity: 0.8;

    label{
        @include white-text-small;
        opacity: 0.6;
    }

    select{
        margin-left: 5px;
        @include white-text-small;
        letter-spacing: 0.888889px;
        background: $grey;
        border: none;
    }
}