@import '../../../common.scss';

.genreSelector{
    display: inline-block;
    margin: 10px;
    opacity: 0.8;
    width: 70%;

    a{
        margin: 5px 15px 0px 15px;
        @include white-text;    
        text-transform: uppercase;
        display: inline-block;

        &.selected{
            @include red-text;
            text-decoration: underline;
        }
    }
}