.genre-selector{
    display: inline-block;
    margin: 10px;
    opacity: 0.8;

    a{
        margin: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
}