.page-body {
    margin: 20 auto 0 auto;
    width: 1200px;
    height: 1396px;
    background: #232323;

    hr{
        margin: 0;
    }

    .movie-count{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 30px;
        margin-top: 20px;
    }
}