@import '../../common.scss';

.pageBody {
    margin: 20px auto 0px auto;
    width: 1200px;
    background: $grey;
    min-height: 2000px;

    hr{
        margin: 0;
    }

    .movieCount{
        font-weight: 600;
        @include white-text;
        margin-left: 30px;
        margin-top: 20px;
    }
}