@import '../../common.scss';

.header{
    width: 1200px;
    height: 596px;
    top: 50px;
    margin: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../../../public/header.png);

    .netflixRoulettText{
        display: inline-block;
        margin-left: 60px;
        margin-top: 30px;
        @include red-text;
    }

    .searchToggleContainer{
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }
}