@import '../../../common.scss';

.deleteModal{
    width: 690px;
    height: 350px;
    background: $grey;
    position: relative;

    .deleteClose{
        background: transparent;
        border: none;
        outline: none;
        font-size: 35px;
        color: white;
        float: right;
    }

    h2{
        position: absolute;
        @include white-text-large;
        left: 100px;
        top: 40px;
    }

    p{
        position: absolute;
        color: white;
        @include white-text;
        left: 100px;
        top: 150px;
    }

    .redButton{
        position: absolute;
        left: 480px;
        top: 250px;
    }
}