@import '../../../common.scss';

$element-height: 57px;
$element-border-radius: 4px;

.search-container{
    width: 900px;
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0; 
    top: 250px;
}

.search-input{
    width: 70%;
    height: $element-height;
    display: inline-block;
    margin-right: 20px;
    background: rgba(50, 50, 50, 0.8);
    opacity: 0.7;
    border-radius: $element-border-radius;
    vertical-align: bottom;
    @include white-text;

    &::placeholder{
        @include white-text;
        padding-left: 10px;
        opacity: 0.3;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.search-button{
    position: relative;
    width: 233px;
    height: $element-height;
    background: $red;
    border-radius: $element-border-radius;
    @include white-text;
}

.add-movie{
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    width: 180px;
    height: 50px;
    @include red-text;
    z-index: 99999;

}

.find-your-movie{
    margin-left: 155px;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    color: white;
}

.search-toggle{
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}