@import '../../../common.scss';

$element-height: 57px;
$element-border-radius: 4px;

.search-input{
    width: 70%;
    height: $element-height;
    display: inline-block;
    margin-right: 20px;
    background: rgba(50, 50, 50, 0.8);
    opacity: 0.7;
    border-radius: $element-border-radius;
    vertical-align: bottom;

    &::placeholder{
        @include white-text;
        padding-left: 10px;
        opacity: 0.3;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.search-button{
    position: relative;
    width: 233px;
    height: $element-height;
    background: $red;
    border-radius: $element-border-radius;
    @include white-text;
}