.search-input{
    width: 70%;
    height: 57px;
    display: inline-block;
    margin-right: 20px;
    background: rgba(50, 50, 50, 0.8);
    opacity: 0.7;
    border-radius: 4px;

    &::placeholder{
        padding-left: 10px;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.3;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.search-button{
    position: relative;
    width: 233px;
    height: 57px;
    background: #F65261;
    border-radius: 4px;
    color: #FFFFFF;

    font-size: 20px;
    line-height: 24px;
}