.footer{
    text-align: center;
    background: #424242;
    width: 1200px;
    margin: auto;
    height: 60px;

    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        color: #F65261;
        padding-top: 15px;
    }
    
}